<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>


<form method="post">
    <input type="text" name="animalName" />

    <select id="species" class="form-control" th:field="*{species}">
        <option value="" selected="selected">Species</option>
        <option th:each="species : ${T(com.sarahhanley.iFoster.models.Species).values()}" th:value="${species}" th:text="${species.name}">Species</option>
    </select>
    <input type="submit" value="Add Animal" />

</form>
</body>
</html>