<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
    <div class="container">
        <nav th:replace="fragments :: navigation"></nav>

        <div class="container">
            <h1>Foster Animals</h1>
    <p th:unless="${animals} and ${animals.size()}">no animals!</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Species</th>
                    <th>Location</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="animal : ${animals}">
                    <td th:text="${animal.name}">name</td>
                    <td th:text="${animal.species}">species</td>
                    <td th:text="${animal.name}">Location</td>
                </tr>
                </tbody>
            </table>


        </div>
        <div class="container">
            <h1>Foster Families</h1>
        <p th:unless="${fosterFamilies} and ${fosterFamilies.size()}">NO Foster Families!</p>

        <ul>
            <li th:each="fosterFamily : ${fosterFamilies}" th:text="${fosterFamily.name}"></li>
        </ul>

        <table class="table">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
            </tbody>
        </table>

    </div>
</body>
</html>